In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("data/train.csv")

In [5]:
df = pd.get_dummies(df, columns=['Name'])

KeyError: "None of [Index(['Name'], dtype='object')] are in the [columns]"

In [6]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,"Name_Yrois, Miss. Henriette (""Mrs Harbeck"")","Name_Zabour, Miss. Hileni","Name_Zabour, Miss. Thamine","Name_Zimmerman, Mr. Leo","Name_de Messemaeker, Mrs. Guillaume Joseph (Emma)","Name_de Mulder, Mr. Theodore","Name_de Pelsmaeker, Mr. Alfons","Name_del Carlo, Mr. Sebastiano","Name_van Billiard, Mr. Austin Blyler","Name_van Melkebeke, Mr. Philemon"
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,...,False,False,False,False,False,False,False,False,False,False
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,...,False,False,False,False,False,False,False,False,False,False
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,...,False,False,False,False,False,False,False,False,False,False
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,...,False,False,False,False,False,False,False,False,False,False